<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Автомобили</title>

    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css"
          rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>


<body style="background: linen; padding-top: 10px; padding-left: 50px; padding-right: 10px" ;/>
<div class="container">
    <h2> Информация об автомобилях </h2>

    <table class="table table-border" id="cars-table">
        <thead class="table-light">
        <tr>
            <th>VIN</th>
            <th>Государственный номер</th>
            <th>Производитель</th>
            <th>Бренд</th>
            <th>Год производства</th>
            <th>Водитель</th>
            <th>Действия </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="car : ${allCars}">
            <url var="deleteButton" value="/cars/deleteCar">
                <param name="carId" value="${car.id}"/>
            </url>
            <td th:text="${car.VIN}"></td>
            <td th:text="${car.number}"></td>
            <td th:text="${car.carManufacturer.name}"></td>
            <td th:text="${car.carBrand.name}"></td>
            <td th:text="${car.yearProduction}"></td>
            <td th:text="${car.driver}"></td>
            <td>
                <div class="col-md-auto">
                    <a th:href="@{/cars/carDetails(carId=${car.id})}" class="btn btn-light"
                       style="width: 200px">Детали автомобиля</a>
                </div>

                <div class="col-md-auto">
                    <a th:href="@{/cars/deleteCar(carId=${car.id})}" class="btn btn-warning"
                       style="width: 200px">Удалить</a>
                </div>
                <br>

            </td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/cars/addNewCar}" class="btn btn-light">Добавить</a>
</div>

<a th:href="@{/cars/carsManagement}" style="position: fixed; left:50px; bottom: 40px;">Вернуться</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#cars-table").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>

</body>
</html>
