<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Водители</title>
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body style="background: linen; padding-top: 10px; padding-left: 50px; padding-right: 10px" ;/>
<div class="container">
    <h2> Информация о водителях </h2>

    <table class="table table-border" id="drivers-table">
        <thead class="table-light">
        <tr>
            <th>ФИО</th>
            <th>Паспортные данные</th>
            <th>Категория водительских прав</th>
            <th>Опыт (лет)</th>
            <th>Дата рождения</th>
            <th>Номер автомобиля</th>
            <th>Действия </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="driver : ${allDrivers}">
            <url var="deleteButton" value="/cars/deleteCar">
                <param name="driverId" value="${driver.id}"/>
            </url>
            <td th:text="${driver.name}"></td>
            <td th:text="${driver.passport}"></td>
            <td th:text="${driver.categoryLicence}"></td>
            <td th:text="${driver.experience}"></td>
            <td th:text="${#temporals.format(driver.dateBirth, 'dd/MM/yyyy')}"></td>
            <td th:text="${driver.car}"></td>
            <td>
                <div class="col-md-auto">
                    <a th:href="@{/drivers/updateDriver(driverId=${driver.id})}" class="btn btn-light"
                       style="width: 200px">Изменить</a>
                </div>
                <div class="col-md-auto">
                    <a th:href="@{/drivers/deleteDriver(driverId=${driver.id})}" class="btn btn-warning"
                       style="width: 200px">Удалить</a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/drivers/addNewDriver}" class="btn btn-light">Добавить</a>
</div>

<a th:href="@{/drivers/driversManagement}" style="position: fixed; left:50px; bottom: 40px;">Вернуться</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#drivers-table").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>

</body>
</html>
